@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --table-border: solid 1px #d0d5dd;
  --grey-1: #f9fafb;
  --grey-2: #f2f4f7;
  --grey-3: #D0D5DD;
  --grey-text: #667085;
  --black-text: #101828;
  --light-purple: #f9f5ff;
  --purple: #6941c6;
  --light-green: #ecfdf3;
  --green-1: #12b76a;
  --green-2: #027a48;
  --light-blue-1: #eef8ff;
  --light-blue-2: #eef4ff;
  --blue-1: #175cd3;
  --blue-2: #3538cd;
}

html {
  font-family: "inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.container {
  margin: 2rem;
  border-radius: 12px;
  border: var(--table-border);
  overflow: hidden;
}

.Title {
  display: flex;
  gap: 1rem;
  align-content: center;
  padding: 2rem;
}

.users {
  padding: 0.5rem;
  font-weight: 500;
  border-radius: 8px;
  background-color: var(--light-purple);
  color: var(--purple);
}

.table {  
  display: grid;
  grid-template-columns: 1.5fr 1fr 1.5fr 1fr 2.5fr;  
  align-content: center;  
}

.table-head {
  background-color: var(--grey-2);
  border-bottom: var(--table-border);
  padding: 1rem 2rem;
}

.table-body {
  background-color: #fff;
  padding: 2rem;
  border-bottom: var(--table-border);
}

.name,
.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.grey-text {
  color: var(--grey-text);
}

.user-name {
  color: var(--black-text);
}

.status,
.role,
.team-tags,
.active-bg {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.teams {
  display: flex;
  justify-content: space-between;
}

/* Tags Styling */

.tags {
  padding: 0.5rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 500;
}

.active-bg {
  background-color: var(--light-green);
  border-radius: 12px;
  color: var(--green-2);
}

.active-dot {
  height: 8px;
  width: 8px;
  background-color: var(--green-1);
  border-radius: 50%;
}

.design {
  background-color: var(--light-blue-1);
  border-radius: 12px;
  color: var(--purple);
}

.product {
  background-color: var(--light-blue-2);
  border-radius: 12px;
  color: var(--blue-1);
}

.marketing {
  background-color: #eef4ff;
  border-radius: 12px;
  color: var(--blue-2);
}

.tag-no {
  background-color: var(--grey-2);
  border-radius: 12px;
  padding: 0.5rem 0.75rem;
  color: var(--black-text);
}

.delete-icon {
  height: 2.4rem;
}

.pen-icon {
  height: 2.4rem;
}

/* Checkbox Styling */

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;  
  width: 2em;
  height: 2em;
  border: 1px solid var(--grey-3);
  border-radius: 4px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 2em;
  height: 2em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--blue-2);
  background-color: CanvasText;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}


/* Table pagination */

.table-pages{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

ul li {
  text-decoration: none;
  display: inline-block;
  margin: 0 0.25rem;
  padding: 1rem;
  cursor: pointer;
}

ul .active {
  background-color: var(--light-purple);
  color: var(--purple);
  border-radius: 8px;  
}

.mobile-page{
  opacity: 0;
}


.previous-btn, .next-btn{
  height: 2.5rem;;
  color: var(--grey-text);
  display: flex;
  background-color: #fff;
  align-items: center;
  gap:0.5rem;
  border: solid 1px var(--grey-3);
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
}

.previous-btn img{
  transform: rotate(90deg);
}

.next-btn img{
  transform: rotate(270deg);
}

